/* основной цвет текста #757575*/
/* вторичный цвет текста #212121;*/
/* акценты, дополнительно #2196F3;*/
/* Цвет фона #FFFFFF*/
/* Вторичный цвет фона #F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-background-color: #ffffff;
  --logo-main-color: #000000;
  --logo-footer-color: #ffffff;
  --btn-main-color: #212121;
  --project-set-gap: 30px;
  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --footer-main-color: #ffffff;
  --main-social-hover-color: #ffffff;
  /* --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1); */
}

/* Обнуление */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button,label {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------------HEADER---------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
  margin-right: 93px;
}
.logo-accent {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-item {
  /* margin-top: 10px; */
  margin-right: 50px;
  /* margin-bottom: 10px; */
}
.header-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
}
/* ----TEL-MAIL---- */

.icon-header-tel,
.icon-header-mail {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail {
  margin-right: 30px;
}
.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

/* -------------------HERO---------------------- */
.hero {
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  /* height: 600px; */
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;

  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-btn{
  padding: 10px 32px;
}
/* -------------------benefits ---------------------- */
.benefits-list {
  display: flex;
  margin-right: -30px;
}
.benefits-item {
  min-width: 270px;
  margin-right: 30px;
}

.icon-benefits {
  /* width: 270px; */
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 25px 100px 25px 100px; */
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
  margin-bottom: 10px;
}
.benefits-text {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
}
/* -------------------ABOUT ---------------------- */
.about {
  padding-bottom: 94px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
}
.about-item {
  position: relative;
}
.about-item-label {
  position: absolute;
  /* left: 0; */
  bottom: 0;
  display: flex;
  min-height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-item:not(:last-child) {
  margin-right: 27px;
}

/* -------------------TEAM ---------------------- */
/* team
team-title
team-list
team-item
team-item-subtitle
team-item-text */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primery-background-color);
  box-shadow: var(--team-box-shadow);
  border-radius: 0px 0px 4px 4px;
}
/* .team-item:last-child {
  margin-right: 0; */

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;

  color: var(--title-text-color);
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
/* ------------------SOCIAL------------------ */
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  /* background-color: tomato; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-social-hover-color);
}
/* -------------------CLIENTS ---------------------- */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--logo-main-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  margin-right: -30px;
}
.clients-item {
  min-width: 170px;
  min-height: 92px;
  margin-right: 30px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* .clients-it:last-child {
  margin-right: 0;
} */

/* -------------------FOOTER ---------------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-footer-color);
  display: block;
  margin-bottom: 20px;
}
.logo-accent {
  color: var(--accent-color);
}
.address {
  /* font-weight: 400; */
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  /* letter-spacing: 0.03em; */
}
/* .footer-address {
} */
.address-text {
  color: var(--footer-main-color);
  margin-bottom: 9px;
  display: block;
}
.address-mail {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  display: block;
}
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-logo {
  margin-right: 70px;
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-main-color);
  margin-bottom: 20px;
}
.footer-social{
  margin-right: 93px;
}
.footer-list {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}
.footer-social-item {
  margin-right: 10px;
}
.footer-social-item:last-child {
  margin-right: 0;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--footer-main-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--footer-main-color);
}
/* -------Footer-Form ---------------------- */
.footer-form{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer-form-field{
  margin-right: 12px;
}

.footer-btn{
  min-width: 200px;
  display: flex;
  justify-content: center;
  padding: 0;
 /* padding: 10px 28px 10px 28px; */
}
  .input-btn-icon{
    margin-left: 10px;
  }
.footer-input{

  min-width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  }


.footer-input::placeholder{
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  
}


/* -------------------PORTFOLIO ---------------------- */
/* -------------------FILTER ---------------------- */
.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item {
  margin-right: 8px;
}
.filter-list-item:last-child {
  margin-right: 0;
}

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--btn-main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* -------------------PROJECTS ---------------------- */
/* projects
projects-title
projects-list
projects-item 
projects-subtitle
projects-text
*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--project-set-gap));
  margin-bottom: calc(-1 * var(--project-set-gap));
}
.projects-item {
  background: #ffffff;
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - var(--project-set-gap));
  margin-right: var(--project-set-gap);
  margin-bottom: var(--project-set-gap);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover,
.projects-item:focus {
  background: #ffffff;
  /* border: 1px solid #eeeeee; */
  /* box-sizing: border-box; */
  box-shadow: var(--portfolio-box-shadow);
}
.projects-item:hover .projects-top-text {
  transform: translateY(0);
}
.projects-item-wrap {
  position: relative;
  overflow: hidden;
}
.projects-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.projects-item-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.projects-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  /* letter-spacing: 0.03em;
color: #757575; */
}
/* -------------------MODAL ---------------------- */
.backdrop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 400ms, visibility 400ms;

}
.backdrop.is-hidden .modal {
  transform: scale(2.5) rotate(27deg) translate(50px, 50px);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal{
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms;
  padding: 40px;
}
.modal-close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.icon-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus{
  fill: var(--accent-color);
}
.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
color: var(--title-text-color);
margin-bottom: 12px;
}

.modal-input{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* box-sizing: border-box; */
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-input:focus{
  border-color: var(--accent-color);
  
}

.modal-form-field{
  margin-bottom: 10px;
}

.modal-text{
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}
.modal-text:focus{
  border-color: var(--accent-color);
}

.modal-input::placeholder,
.modal-text::placeholder {
  opacity: 0.7;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-input-text{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}
/* -----------check form------------ */
.modal-check-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-form-check{
  margin-bottom: 30px;
}
.modal-check-text span.modal-check-icon{
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
  /* background: #212121; */
  border-radius: 2px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.icon-check{
  fill: transparent;
}
.modal-check:checked + .modal-check-text span.modal-check-icon {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .modal-check-text .icon-check {
  fill: #FFFFFF;
}
.check-box-text{
  margin-right: 0.12em;
}


.modal-link{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color)
}

.modal-btn{
  display: block;
  min-width: 200px;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-btn:focus{
  background-color: #188CE8;
}
.modal-input-wrap{
  position: relative;
  margin-bottom: 10px;
}

.input-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}