.benefits__list {
  display: flex;
  margin-right: -30px;
}
.benefits__item {
  min-width: 270px;
  margin-right: 30px;
}

.benefits__icon {
  /* width: 270px; */
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 25px 100px 25px 100px; */
}

.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
  margin-bottom: 10px;
}
.benefits__text {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
}
