.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primery-background-color);
  box-shadow: var(--team-box-shadow);
  border-radius: 0px 0px 4px 4px;
}
/* .team-item:last-child {
  margin-right: 0; */

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;

  color: var(--title-text-color);
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
/* ------------------SOCIAL------------------ */
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  /* background-color: tomato; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-social-hover-color);
  }
}
.team-social-icon {
  fill: currentColor;
}
