body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
